@model Client
@*@{
    var departments = new SelectList(await UOF.DepartmentRepo.GetAllAsync(), nameof(Department.Id), nameof(Department.Name));
}*@



@*   
<div class="form-group">
    <label class="col-form-label" asp-for="Department"></label>
    <select class="form-control" asp-for="DepartmentId" asp-items="@departments">
        <option value="@null">-- Select Department --</option>
    </select>
</div>
*@